.pollContainer {
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
}

.pollTitle {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.pollQuestion {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.pollOption {
    background-color: #fff;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;

    display: flex;
    align-items: center;
}

.pollOption:hover {
    background-color: #f2f2f2;
}

.optionCheckbox {
    margin-right: 10px;
}
