.welcome-background {
    background-image: url('../Resources/background.png');
    background-size: cover; /* This will cover the entire viewport */
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh; /* This will make it cover the full height of the viewport */
}
.beigeBox {
    position: relative;
    background-color: rgba(255, 255, 255, 0.9); /* Beige with 70% opacity */
    border: 1px solid black;
    border-radius: 8px;
    padding: 40px; /* Increased padding for a larger box */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%; /* You can adjust this to your preference */
    height: 60%;
    max-width: 600px; /* Optional: Maximum width of the box */
}
.back-button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    position: absolute;
    top: 10px;
    left: 10px;
  }